# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
./largular-client/dist
./largular-client/tmp
./largular-client/out-tsc
./largular-client/bazel-out

# Node
./largular-client/node_modules
./largular-client/npm-debug.log
./largular-client/yarn-error.log

# IDEs and editors
.idea/
./largular-client/.idea/
./largular-client/.project
./largular-client/.classpath
./largular-client/.c9/
./largular-client/*.launch
./largular-client/.settings/
./largular-client/*.sublime-workspace

# Visual Studio Code
./largular-client/.vscode/*
!./largular-client/.vscode/settings.json
!./largular-client/.vscode/tasks.json
!./largular-client/.vscode/launch.json
!./largular-client/.vscode/extensions.json
./largular-client/.history/*

# Miscellaneous
./largular-client/.angular/cache
./largular-client/.sass-cache/
./largular-client/connect.lock
./largular-client/coverage
./largular-client/libpeerconnection.log
./largular-client/testem.log
./largular-client/typings

# System files
./largular-client.DS_Store
./largular-clientThumbs.db
/largular-client/node_modules/
/largular-client/.angular/cache/14.1.1/
/largular-client/.vscode/extensions.json
/largular-client/.vscode/launch.json
/largular-client/.vscode/tasks.json
