<div class="home-screen-container">
  <div class="home-screen-title">Largular</div>
  <div class="home-screen-description-container">
    <div class="home-screen-description-paragraph">
      The name is pretty much self explanatory: Laravel + Angular = Largular. Simple as that.
      I thought of the biggest project that I could possibly do in order to get the most
      "real world" experience with Angular and Laravel. Thus marks the day I sold my soul for
      a cupcake.
    </div>
    <div class="home-screen-description-paragraph">
      This project is a twitter successor. It was created in order to acquire deep understanding of
      client-server communication and REST architecture. It was also very helpful in learning
      how to use Angular as my frontend and Laravel as my backend. So now I can proudly call
      myself a battle scarred fullstack developer.
    </div>
    <div class="home-screen-description-paragraph">
      I really fell in love with how easy and intuitive everything in Angular is. My previous
      experience with JS frontend was not so great, because I managed to create a project with
      ReactJS as my frontend weapon of choice (you can check it out
      <a target="_blank" href="https://github.com/moon-strider/recursive-sudoku">here</a>).
      Now that I can compare the two, Angular seems much more beginner friendly and intuitive.
      But that's what you get when you compare a full-on framework to a "simple" library.
    </div>
  </div>
</div>
