.top-navbar {
  background: linear-gradient(to bottom, #26292f, #1c1e24);
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}

.top-navbar-profile-container {
  padding: 0 2vw 0 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
  justify-content: flex-end;
}

.top-navbar-container,
.top-navbar-logo {
  padding: 0 2vw 0 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.top-navbar-logo {
  text-align: left;
  justify-content: flex-start;
  width: 25%;
  align-items: flex-start;
}

.top-navbar-logo {
  font-size: 24pt;
  color: white;
}

.top-navbar-button {
  transition: ease-in-out 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0vw 1vw 0vw 1vw;
  text-decoration: none;
  color: aliceblue;
  font-size: 14pt;
  text-align: center;
}

.top-navbar-button:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.2);
}

