.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 77vh;
}

input {
  width: 100%;
  height: 20%;
  font-size: 26pt;
  border: 0;
  box-sizing: content-box;
  border-radius: 15px;
  text-align: center;
  color: white;
  background: #1c1e24;
}

.login-screen-button {
  height: 20%;
  width: 100%;
  box-sizing: content-box;
  background: #715bfe;
  color: white;
  font-weight: bold;
  font-size: 30pt;
  border-radius: 15px;
  transition: ease-in-out 0.1s;
}

.login-screen-button:hover {
  display: block;
  transform: scale(1.1);
}

.login-screen-inner {
  width: 15%;
  height: 30vh;
  background: radial-gradient(circle at center, #26292f 0, #1c1e24 90%);
  padding: 4vh 4vw 4vh 4vw;
  border: 6px solid #26292f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
